doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Five day forecast 
        link(rel="stylesheet", href="views/css/style.css")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Open+Sans:300')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.12/css/all.css", integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9", crossorigin="anonymous")

    body
        .container
            div(class="current-conditions")
                i(class="fas fa-search")
                p #{city}
                i(class="fas fa-times")
                h1 #{ temp0 }
                div(class="cc-details")
                    p #{ description0 }
                    p #{ humidity0 }% Humidity
            div(class="five-days")
                div(class="day0")
                    p #{date0} #{day0}
                    img(src=icon0)
                    p #{temp0}
                div(class="day1")
                    p #{date1} #{day1}
                    img(src=icon1)
                    p #{temp1}
                div(class="day2")
                    p #{date2} #{day2}
                    img(src=icon2)
                    p #{temp2}
                div(class="day3")
                    p #{date3} #{day3}
                    img(src=icon3)
                    p #{temp3}
                div(class="day4")
                    p #{date4} #{day4}
                    img(src=icon4)
                    p #{temp4}

